<%= render partial: 'shared/page_with_search',
           locals: {search_path: users_path, search_placeholder: "user search.."} %>

<h1>User index</h1>

<% if @users.empty? %>
  no results..
<% else %>
  <table>
    <tr>
      <th>name</th>
      <th>email</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
<% end %>


