<%= render partial: 'shared/page_with_search',
           locals: {search_path: items_path, search_placeholder: "item search.."} %>

<h1>item index</h1>

<% if @items.empty? %>
  no results..
<% else %>
  <div id="map"></div>

  <div id="tag_cloud">
    <b>Tag cloud:</b>
    <br>
    <% tag_cloud Item.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <br>
  <table>
    <tr>
      <th>items:</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.item_image.url(:thumb) %></td>
        <td><%= link_to item.name, item %></td>
      </tr>
    <% end %>
  </table>
<% end %>


